* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 80%, rgba(252,176,69,1) 100%);
}
.search{
    text-align: right;
    width: 15%;
}
.shop_list{
    display: flex;
    width: 100%;
    align-items: center;
    z-index: -1;
}
.card{
    border-radius: 1em;
}
.cart_icon{
    position: relative;
}
.cart_icon i{
    cursor: pointer;
    transition: 0.25s;
}
.cart_icon span{
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    background: white;
    color: black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 10%;
}
.cart_icon i:hover{
    color: white;
}

.cart_table .card{
    background-color: black;
    color: white;
}

/* card_demo  */
.cart_table{
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: -40%;
    display: none;
    z-index: 2;
}
.shop_list .card-text{
    display: none;
}
.shop_item:hover .card-text{
    display: block;
}
#total{
    font-size: 1.2em;
    font-weight: bold;
}




