
.container .formsample {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid black;
}
.container .form_content{
    margin: 25px;
    width: 280px;
}

.container .searchtool {
    width: 300px;
}
.container .searchtool button{
   transition: all 0.4s;
   background-color: black;
   color: #fff;
}
.container .searchtool button:hover{
    background-color: aliceblue;
    color: black;
}
.container img{
    width: 45px;
}
.formsample .error{
    color: red;
    font-size: 15px;
}
